header {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding-top: 30px;
    padding-bottom: 10px;
    width: 70%;
    margin: 0 auto;
}

nav a {
    padding-left: 15px;
    text-decoration: none;
    color: black;
}

hr {
    border: 2px solid #202233;;
}

nav a.active-link {
    color: white;
    outline: none;
}
