<!-- Button trigger modal -->
<button type="button" class="btn btn-dark new-account" data-bs-toggle="modal" data-bs-target="#accountModal">
    New account
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="accountModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">New Account</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form (submit)="createAccount()" #myForm="ngForm">
            <div class="input-style-1">
              <label for="name">Name: </label><input id="name" type="text" name="name" [(ngModel)]="inputAccount" placeholder=" Account name..." required>
            </div>
            <div class="input-style-1">
              <label for="currency">Currency: </label>
              <select id="currency" name="currency" [(ngModel)]="inputCurrency">
                <option *ngFor="let currency of currencies | keyvalue" [value]="currency.key">{{currency.value}} ({{currency.key.toUpperCase()}}) </option>
              </select>
            </div>
            <div class="input-style-1">
              <label for="balance">Balance: </label><input id="balance" type="text" name="balance" placeholder="0 {{inputCurrency.toUpperCase()}}" [(ngModel)]="inputBalance" required>
            </div>
            <div class="buttons">
              <button type="button" data-bs-dismiss="modal">Cancel</button>
              <button type="submit" [disabled]="myForm.invalid" data-bs-dismiss="modal">Create Account</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  

