<div class="app-accounts">
    <div class="accounts">
        @for (account of accounts; track $index) {
            <div class="account">
                <div class="name">{{account.name}}</div>
                <div class="balance-currency">
                    <div class="default-balance">{{account.default_balance}} {{account.default_currency}}</div>
                    <div class="balance" *ngIf="account.currency !== 'EUR'">{{account.balance}} {{account.currency.toUpperCase()}}</div>
                </div>
            </div>
        }
        <app-account-popup></app-account-popup>
    </div>
    <app-first-footer></app-first-footer>
</div>
