<div class="app-accounts">
    <div class="accounts">
        <div class="account" *ngFor="let account of accounts; let i = index;">
            <div class="name">{{ account.name }}</div>
            <div class="balances">
                <div class="default-balance">
                    {{ account.defaultBalance | number:'1.2-2' }} {{ account.defaultCurrency.toUpperCase() }}
                </div>
                <div class="balance" *ngIf="account.defaultCurrency !== account.currency">
                    {{ account.balance | number:'1.2-2'}} {{ account.currency.toUpperCase() }}
                </div>
            </div>
        </div>
        <app-account-popup></app-account-popup>
    </div>
    <app-first-footer></app-first-footer>
</div>