.app-settings {
    height: 70vh;
    display: grid;
    grid-template-rows: 1fr auto;
}
.settings {
    width: 70%;
    height: auto;
    margin: 0 auto;
}
.default, .exchange, .delete {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    min-height: 70px;
    margin: 0;
    padding-left: 10px;
}

.exchange div, .default div{
    margin: 0;
}

.delete {
    background-color: #5F6290;
}

