<div class="app-transactions">
    <div class="tr-all-accounts">
        <div></div>
            <div class="transactions">
                @for (transaction of transactions; track $index) {
                    <div class="transaction">
                        <div>
                            <div class="tr-name">{{transaction.description}}</div>
                            <div class="tr-account">{{transaction.accountName}}</div>
                        </div>
                        <div class="balance-currency">
                            <div class="default-balance">{{transaction.default_amount}} {{transaction.default_currency.toUpperCase()}}</div>
                            <div class="balance">{{transaction.amount}} {{transaction.currency.toUpperCase()}}</div>
                        </div>
                    </div>
                }
            </div>    
        <select class="btn btn-dark" (change)="onAccountSelected($event)">
            <option (click)="getTransactions()">All accounts</option>
            <option *ngFor="let account of accounts" [value]="account.name">{{account.name}}</option>
        </select>
    </div>
    <app-first-footer></app-first-footer>
</div>